# Auto detect text files and perform LF normalization
* text=auto
Build/Remains[[:space:]]Of[[:space:]]Arda_Data/StreamingAssets/aa/StandaloneWindows64/defaultlocalgroup_assets_all_f8b2e6dd6f7b39042c6ae5c4178ab085.bundle filter=lfs diff=lfs merge=lfs -text
